<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduTrack/admin</title>
    <link rel="stylesheet" href="/styles/adminDashboard.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="left-container">
        <div class="logo">
          <h1>EduTrack</h1>
        </div>
        <span>Admin Dashboard</span>
        <div class="menu">
          <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/">Students</a></li>
            <li><a href="/">Parents</a></li>
            <li><a href="/">Exams</a></li>
          </ul>
        </div>
        <button id="addAdminBtn">Add Admin</button>
      </div>
      <div class="right-container"></div>
      <!-- ------------------------------------------  -->
      <div class="right-container">
        <form action="/auth/adminLogout" method="post">
          <button type="submit" class="signbtn" id="logoutbtn">Logout</button>
        </form>
        <div>
          <div class="countBox">
            <h1>Students</h1>
            <span>studentCount</span>
            <button class="signbtn btnStudentOpenForm" id="addStudentBtn">
              Add Student
            </button>
          </div>
          <div class="countBox">
            <h1>Parents</h1>
            <span>parentCount</span>
            <button class="signbtn btnParentOpenForm" id="addParentBtn">
              Add Parent
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------ Add Students --------------------------  -->

    <div class="form-popup-bg">
      <div class="form-container">
        <button class="btnCloseForm close-button">X</button>
        <h1>Add Student</h1>
        <form action="/admin/addStudent" method="post">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" />
          </div>
          <div class="form-group">
            <label for="">Enrollment</label>
            <input class="form-control" type="number" name="enrollment" />
          </div>
          <div class="form-group">
            <label for="">E-Mail</label>
            <input class="form-control" type="text" name="email" />
          </div>
          <div class="form-group">
            <label for="">Phone Number</label>
            <input class="form-control" type="number" name="phone" />
          </div>
          <div class="form-group">
            <label for="">Address</label>
            <input class="form-control" type="text" name="address" />
          </div>
          <div class="form-group">
            <label for="">Department</label>
            <input class="form-control" type="text" name="department" />
          </div>
          <div class="form-group">
            <label for="">Year</label>
            <input class="form-control" type="number" name="year" />
          </div>
          <div class="form-group">
            <label for="">Semester</label>
            <input class="form-control" type="number" name="semester" />
          </div>
          <div class="form-group">
            <label for="">Course</label>
            <input class="form-control" type="text" name="course" />
          </div>
          

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <!-- --------------------- Add Parents --------------------------------  -->
    <div class="parentForm-popup-bg">
      <div class="form-container">
        <button class="btnCloseForm close-button">X</button>
        <h1>Add Parent</h1>
        <form action="/admin/addParent" method="post">
          <div class="form-group">
            <label for="">Father Name</label>
            <input type="text" class="form-control" name="fatherName" />
          </div>
          <div class="form-group">
            <label for="">Mother Name</label>
            <input class="form-control" type="text" name="motherName" />
          </div>
          <div class="form-group">
            <label for="">Father Occupation</label>
            <input class="form-control" type="text" name="fatherOccupation" />
          </div>
          <div class="form-group">
            <label for="">Mother Occupation</label>
            <input class="form-control" type="text" name="motherOccupation" />
          </div>
          <div class="form-group">
            <label for="">Father Phone</label>
            <input class="form-control" type="number" name="fatherPhone" />
          </div>
          <div class="form-group">
            <label for="">Mother Phone</label>
            <input class="form-control" type="number" name="motherPhone" />
          </div>
          <div class="form-group">
            <label for="">Student Enrollment</label>
            <input class="form-control" type="number" name="studentEnrollment" />
          </div>

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <!-- --------------------------------------------------------------------  -->

    <div>
      <ul id="studentList">

      </ul>
    </div>
  </body>

  <!-- ------------------- popup Student form ------------------  -->
  <script>
    function closeForm() {
      document.querySelector(".form-popup-bg").classList.remove("is-visible");
    }

    document.addEventListener("DOMContentLoaded", function () {
      /* Contact Form Interactions */
      document
        .querySelector(".btnStudentOpenForm")
        .addEventListener("click", function (event) {
          event.preventDefault();
          document.querySelector(".form-popup-bg").classList.add("is-visible");
        });

      //close popup when clicking x or off popup
      document
        .querySelector(".form-popup-bg")
        .addEventListener("click", function (event) {
          if (
            event.target.matches(".form-popup-bg") ||
            event.target.matches(".btnCloseForm")
          ) {
            event.preventDefault();
            this.classList.remove("is-visible");
          }
        });
    });
    // ------------------------- popup Parent ----------------- 
    function closeForm() {
      document.querySelector(".parentForm-popup-bg").classList.remove("is-visible");
    }

    document.addEventListener("DOMContentLoaded", function () {
      /* Contact Form Interactions */
      document
        .querySelector(".btnParentOpenForm")
        .addEventListener("click", function (event) {
          event.preventDefault();
          document.querySelector(".parentForm-popup-bg").classList.add("is-visible");
        });

      //close popup when clicking x or off popup
      document
        .querySelector(".parentForm-popup-bg")
        .addEventListener("click", function (event) {
          if (
            event.target.matches(".parentForm-popup-bg") ||
            event.target.matches(".btnCloseForm")
          ) {
            event.preventDefault();
            this.classList.remove("is-visible");
          }
        });
    });

    // ---------------------------------------------------------------- 
    // --------------------- Student List ------------------------------
    document.addEventListener("DOMContentLoaded", () => {
      const studentList = document.getElementById("studentList");
      
      let students = [];
      function getStudents() {
        fetch("/admin/listStudent")
        .then((res) => res.json())
        .then((data) => {
          console.log(data,"ftf");
          updateUI(data.studentList)
        })
        .catch((err) => console.log(err.message));
      };

      function updateUI(students) {
        console.log(students)
        students.forEach(student => {
          let li = document.createElement("li");
          li.textContent = `${student}`
          studentList.appendChild(li);
        });
      }

      getStudents();
    })
  </script>
  <!-- --------------------------------------------------  -->

</html>
