<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/styles/home.css" />

  </head>
  <body>
    <!-- -------------------- Navigation Bar --------------------------- -->
    <nav>
      <div>
        <h1>Student Management</h1>
      </div>
      <div>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div>
        <button onclick="loginFunction">login</button>
      </div>
    </nav>
    <!-- -------------------------------------------------------------------- -->
    <div>
      <h2>Get your management in your hands</h2>
      <h1>Manage your students easily with</h1>
      <span>EduTrack</span>
      <p>
        Edutrack is a student management solution that offers a personalized
        offer to each type of users
      </p>
    </div>
    <!-- ----------------------------------------------------------------------- -->
    <div>
      <img src="/images/sampledash.png" alt="##" />
    </div>
    <!-- ----------------------------------------------------------------- -->
    <div>
      <img src="/images/companies.png" alt="##" />
    </div>
    <!-- ------------------------------------------------------------------- -->
    <div>
      <div>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores
          temporibus corporis rerum consequuntur ipsam necessitatibus non
          quibusdam mollitia praesentium vitae natus officiis dolorum qui harum
          exercitationem ex nemo, recusandae placeat.
        </p>
      </div>
      <div>
        <img src="/images/CMS.png" alt="##" />
      </div>
    </div>
    <!-- ------------------------ footer -------------------------- -->
    <footer>
      <div class="footer">
        <div id="About-Us" class="foot">
          <span class="footerDetails">About Us</span> <br />
          <br />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            repellendus harum fuga recusandae alias maxime vero magni culpa
            debitis quia.
          </p>
          <a href="https://www.facebook.com/" target="_blank"
            ><img src="images/facebook.png" alt="#" class="footerIcons"
          /></a>
          <a href="https://twitter.com/Deepakmdtg" target="_blank"
            ><img src="images/twitter.png" alt="#" class="footerIcons"
          /></a>
          <a href="https://telegram.org/" target="_blank"
            ><img src="images/telegram.png" alt="#" class="footerIcons"
          /></a>
          <a href="https://www.linkedin.com/in/deepakmdtg/" target="_blank"
            ><img src="images/linkedin1.png" alt="#" class="footerIcons"
          /></a>
        </div>
        <div id="Services" class="foot">
          <span class="footerDetails">Services</span> <br />
          <br />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima,
            vel?
          </p>
          <br /><br />
          <a href="https://github.com/Deepakkumar-Maurya" target="_blank"
            ><img src="images/github.png" alt="#" class="footerIcons"
          /></a>
        </div>
        <div id="Address" class="foot">
          <span class="footerDetails">Address</span> <br />
          <br />
          <a href=""
            ><img
              src="images/location1.png"
              alt="#"
              class="footerIcons"
              id="locationIcon"
          /></a>
          <span id="location">Gujarat India</span>
        </div>
        <div id="Contact-Us" class="foot">
          <span class="footerDetails">Contact Us</span> <br />
          <br />
          <a
            href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcRzBWKlkbvhXqPqCqFdxJStkrjmxtfhzvPlMwkTGzXgnkJDDBVpDTkBxxwqmlscRnKxVclkC"
            target="_blank"
            ><img
              src="images/gmail.png"
              alt="#"
              class="footerIcons"
              id="gmailIcon"
          /></a>
          <a
            href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcRzBWKlkbvhXqPqCqFdxJStkrjmxtfhzvPlMwkTGzXgnkJDDBVpDTkBxxwqmlscRnKxVclkC"
            target="_blank"
            ><span id="gmail">mauryadeepaktg2@gmail.com</span></a
          >
        </div>
      </div>
    </footer>
    <!-- ----------------------------------------------------------------- -->
    <div id="copyright">
      <span>@ copyrights by <span>Deepakkumar-Maurya</span>. All Rights Reserved </span>
    </div>
  </body>
</html>
