<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack/student</title>
</head>
<body>
    <!-- ----------- logout -------------  -->
    <form action="/auth/studentLogout" method="post">
        <button type="submit">Logout</button>
    </form>
    <!-- ------------------------ Edit Details ------------------------ -->
    <form action="/student/editDetails" method="post">

    </form>
    <!-- ------------ edit Parents ------------------------ -->
    <form action="/student/editParents" method="POST">

    </form>
    <!-- ------------------------ Profile photo upload ------------------------ -->
    <form action="/student/profileUpload" method="POST" enctype="multipart/form-data" >
        <label for="enrollment">Enrollment</label>
        <input type="number" name="enrollment">
        <input  type="file" class="file-input" id="inpFile" name="inpFile" >
        <button type="submit" class="custom-button">Upload</button>
      </form>
</body>
</html>